@{
    ViewBag.Title = "About APP";
}
<h2>@ViewBag.Title</h2>


<p class="lead"><b>PhoneBook By Talit</b> is a mini phone book online application. Any one can register in this application and
    can manage his/her contacts.</p>
