@{
    ViewBag.Title = "Contact Developer";
}
<h2>@ViewBag.Title</h2>


<address>
    <strong>Contact Person:</strong>   Talit Mahmood<br />
    Dept. of Computer Science & Engineering<br/>
    UET, Lahore.<br/>
    <abbr title="Phone">P:</abbr>
    +92304048xxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:talitm555@gmail.com">talitm555@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:talitm555@gmail.com">talitm555@gmail.com</a>
</address>