@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PhoneBook by Talit</h1>
    <p class="lead"><b>PhoneBook By Talit</b> is a mini phone book online application. Any one can register in this application and
        can manage his/her contacts.</p>
    <p><a href="https://github.com/talitm555/PhoneBook/" target="_blank" class="btn btn-primary btn-lg">Contribute on GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technoloies Used</h2>
        <p>
            Phone Book by Talit is built on ASP.NET MVC which gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Important Features</h2>
        <p>PhoneBook by Talit is a Free and open source web application where any user can register and manage his/her contacts.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Database</h2>
        <p>Website Database is powered by MS SQL Server 2014.</p>
        
    </div>
</div>